Repository nukosuke/terraform-provider-zendesk, pull requests merged in 2019-05, with the labels that each got.

#150 Enable go mod tidy on renovate
  renovate.json
Labels: renovate

#152 Revert "Update all dependencies"
  go.mod
  go.sum
Labels: Bug

#95 Prepare to implement Brand CRUD
  zendesk/resource_zendesk_brand.go
Labels: Resource
