Repository nukosuke/terraform-provider-zendesk, pull requests merged in 2019-03, with the labels that each got.

#27 Fix set field
  Gopkg.lock
  Gopkg.toml
  zendesk/resource_zendesk_ticket_field.go
Labels: Bug

#50 Ticket field update
  zendesk/resource_zendesk_ticket_field.go
  zendesk/resource_zendesk_ticket_field_test.go
  zendesk/util.go
Labels: Resource

#59 Adding Attachment Create
  go.mod
  go.sum
  zendesk/provider.go
  zendesk/resource_zendesk_attachment.go
  zendesk/resource_zendesk_attachment_test.go
  zendesk/testdata/README.md
  zendesk/testdata/street.jpg
  zendesk/util.go
  zendesk/util_test.go
Labels: Resource

#56 Group read
  zendesk/provider.go
  zendesk/resource_zendesk_group.go
  zendesk/resource_zendesk_group_test.go
  zendesk/util.go
Labels: Resource

#81 Upgrade go version to 1.11.6 on AppVeyor
  appveyor.yml
Labels: Bug

#74 Update/Delete group
  examples/groups.tf
  go.mod
  go.sum
  zendesk/resource_zendesk_group.go
  zendesk/resource_zendesk_group_test.go
Labels: Resource

#82 Ticket form RUD
  go.mod
  go.sum
  zendesk/resource_zendesk_ticket_form.go
  zendesk/resource_zendesk_ticket_form_test.go
  zendesk/util.go
  zendesk/util_test.go
Labels: Resource

#85 Update README.md / project ownership
  .github/CODEOWNERS
  README.md
Labels: Document

#86 Add Brand schema
  examples/brands.tf
  zendesk/provider.go
  zendesk/resource_zendesk_brand.go
Labels: Resource
